<nav class='navbar navbar-expand-lg navbar-dark'>
  <div class='container'>
    <a class='navbar-brand' href='/'>
      <h3 style='color: black;'>Todo Apps</h3>
    </a>

    {{#if isLogin}}

      <div class='dropdown ms-auto'>
        <a class='text-decoration-none' style='color: #00b8a9;' href='#' role='button' id='dropdownMenuLink' data-bs-toggle='dropdown' aria-expanded='false'>
          <img src='/public/image/boy.png' alt='' width='50' />
        </a>
        <ul class='dropdown-menu dropdown-menu-end mt-3' aria-labelledby='dropdownMenuLink' style='border: 1px solid #00b8a9;'>
          <li class='mb-2'>
            <a class='dropdown-item d-flex align-items-center' href='/addTask'><i data-feather='plus-square'></i>
              <span class='ms-2'>Add Task</span>
            </a>
          </li>
          <li>
            <hr class='dropdown-divider' style='color: #00b8a9;' />
          </li>
          <li>
            <a class='dropdown-item d-flex align-items-center' href='/logout'>
              <i data-feather='log-out'></i>
              <span class='ms-2'>Logout</span>
            </a>
          </li>
        </ul>
      </div>

    {{else}}
      <div class='collapse navbar-collapse' id='navbarSupportedContent'>
        <ul class='navbar-nav ms-auto'>
          <li class='nav-item'>
            <a class='btn btn-color-theme pl-3 pr-3' href='/login'>Login</a>
          </li>
          <li class='nav-item'>
            <a class='btn btn-outline-dark pl-3 pr-3 ms-3' href='/register'>Sign up</a>
          </li>
        </ul>
      </div>
    {{/if}}
  </div>
</nav>